@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");/* */
body {
  background-color: #000000;/* */
  transition: all 0.3s;/* */
  height: 100%;/* */
}
.titre{
  color: yellow;/* */
  display: flex;/* */
  align-items: center;/* */
  justify-content: center;/* */
  padding-bottom: 3%;/* */
  font-size: xx-large;/* */
  border-style:none ;/* */
  font-family: "Titan One", cursive;/* */
  font-style: normal;/* */
}
.button-container {
  display: flex;/* */
  align-items: center;/* */
  justify-content: center;/* */
  height: 100%;/* */
}
.bouton-icon {
  width: 100px;/* */
  height: 100px;/* */
  background-color: #fafafa;/* */
  display: flex;/* */
  align-items: center;/* */
  justify-content: center;/* */
  border-radius: 7px;/* */
  margin-left: 1em;/* */
  margin-right: 1em;  /* */
  cursor: pointer;/* */
  position: relative;
  margin-bottom: 40%; /* position des icones au centre, les trois */
  overflow: hidden;/* */
  transition: all 0.3s;/* */
}

.bouton-icon img {
  transition: transform 0.3s ease-in-out; /* Ajoutez une transition pour une animation en douceur */
}

.bouton-icon:hover img {
  transform: scale(1.1); /* Augmente la taille de l'image au survol */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Ajoute une ombre au survol (couleur orange dans cet exemple) */
}
.back-button {
  font-size: xx-large;/* */
  color: #fff;/* */
  position: fixed;/* */
  bottom: 20px; /* */
  left: 20px; /* */
  background-color: black;/* */
  border-style:none ;/* */
  font-family: "Titan One", cursive;/* */
  font-style: normal;/* */

}
