
/* Texte gallery animé */
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");/* */
.tritre-animé {
  width: 30vw;/* */
  text-align: center;
  span {/* */
    -webkit-text-stroke-width: 1.25px;/* */
    -webkit-text-stroke-color: #000;/* */
    font-size: 60px;/* */
    text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;/* */
    transform: translate(0, 100%) rotate(4deg);/* */
    animation: jump 2s ease-in-out infinite;/* */
    display: inline-block;/* */
    font-family: "Titan One", cursive;/* */
    color: #fff;/* */ 
  }
}
@keyframes jump { 
    33% {
      text-shadow: 0 60px #f37121, 0 150px #f2aaaa;/* */
    }
    50% {/* */
      transform: translate(0, 0) rotate(-4deg);/* */
      text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;/* */
    }
    66.67% {
      text-shadow: 0 -60px #d54062, 0 -150px #8fc0a9;/* */
    }
  }
html {
  width: 50%;/* */
  height: 100vh;/* */
}
body {
  margin: 20;/* */
  padding: 0;/* */
  width: 20%;/* */
  height: 100vh;/* */
  box-sizing: border-box;/* */
  display: grid;/* */
  place-items: center;/* */
  overflow: hidden;/* */
  background: #000;/* */
}
/* début de la gallery */
html,body{
    width: 100%;/* */
    height: 100%;/* */
  }
  .container{/* */
    padding: 75px 0;/* */
    margin: 0 auto;/* */
    width: 1140px;/* */
  }
  
  .gallery-wrap {
    display: flex;/* */
    flex-direction: row;/* */
    width: 100%;/* */
    height: 70vh;/* */
  }
  
  .image {
    flex: 1;/* */
    height: 100%;/* */
    background-position: center;/* */
    background-size: cover;/* */
    background-repeat: none;/* */
    transition: flex 0.8s ease;/* */
    
    &:hover{/* */
      flex: 7;/* */
    }
  }
  
  .illu-1 { 
    background-image: url('images/1.jpg');
  }
  
  .illu-2 { 
    background-image: url('images/2.jpg');
  }
  
  .illu-3 { 
    background-image: url('images/3.jpg');
  }
  
  .illu-4 { 
    background-image: url('images/4.jpg');
  }
  
  .illu-5 { 
    background-image: url('images/6.jpg');
  }
  .illu-6 {
    background-image: url('images/5.jpg');
  }
  .back-button {/* */
    font-size: xx-large;/* */
    color: #fff;/* */
    position: fixed;/* */
    bottom: 20px; /* */
    left: 20px; /* */
    background-color:transparent;/* */
    border-style:none ;/* */
    font-family: "Titan One", cursive;/* */
    font-style: normal;/* */
  }
