:root {
  --bgcolor: rgb(2, 0, 36);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  min-height: 70vh;
  display: grid;
  place-items: center;
  background: var(--bgcolor);
  background-color: #d7c9c9;
  transition: background-color 0.9s;
  font-family: sans-serif;
  --bgcolor: rgb(2, 0, 36);
}
ul {
  list-style: none;
}
h1 {
  font-size: 5rem;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms ease;
  width: fit-content;
  cursor: pointer;
}
h1:hover {
  transform: skew(10deg);
}
h1::before {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: -20px;
  background: var(--bgcolor);
  height: 3rem;
  overflow: hidden;
  transition: all 300ms ease;
  padding-left: 20px;
}
h1:hover::before {
  top: -3px;
  left: 0px;
  color: hotpink;
}
h1::after {
  content: "";
  height: 4px;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hotpink;
  transition: all 300ms ease;
}
h1:hover::after {
  width: 120%;
  outline: 5px solid rgb(2, 0, 36);
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: hotpink;
}
.navbar-nav li {
  padding-left: 30px;
  padding-right: 30px;
  font-size: large;
}

/* bouton dark mode début */
.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  margin-top: 20px;
}
.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #dadbd6;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}
.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}
body[light-mode="dark"] {
  background-color: #000000;
}
body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: hotpink;
  color: #141516;
}
body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}
/*bouton darkmode fin*/
@media only screen and (max-width: 414px) {
  h1 {
    font-size: 3.5rem;
  }
  .navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 768px) {
  .light-mode-button {
    height: 30px;
    width: 80px;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
  }
}
/* ca c'est le début du loader 
.loader {
  width: 400px;
  height: 400px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  filter: blur(10px) contrast(20);
}
.rond-1, .rond-2 {
  width: 90px;
  height: 90px;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rond-1 {
  left: 20%;
  animation: flash 2.5s ease infinite;
}
.rond-2 {
  left: 20%;
  animation: flash1 2.5s ease infinite;
  background: rgb(255, 255, 255);
}
@keyframes flash {
  0% {
      left: 20%;
  }
  50% {
      left: 50%;
  }
  100% {
      left: 20%;
  }
}
@keyframes flash1 {
  0% {
      left: 80%;
  }
  50% {
      left: 50%;
  }
  100% {
      left: 80%;
  }
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.all {
  visibility: hidden;
}
/* et ca la fin */
