@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
body{
    background-color: black;/* */
}
.title{/* */
    color: yellow;/* */
    display: flex;/* */
    align-items: center;/* */
    justify-content: center;/* */
    padding-bottom: 3%;/* */
    font-size: xx-large;/* */
      border-style:none ;/* */
    font-family: "Titan One", cursive;/* */
    font-style: normal;/* */
  }
.back-button {/* */
    font-size: xx-large;/* */
    color: #fff;/* */
    position: fixed;/* */
    bottom: 20px; /* */
    left: 20px; /* */
    background-color: black;/* */
    border-style:none ;/* */
    font-family: "Titan One", cursive;/* */
    font-style: normal;/* */
  }
  :root{
    --background-dark: #2d3548;/* */
    --text-light: rgba(255,255,255,0.6);/* */
    --text-lighter: rgba(255,255,255,0.9);/* */
    --spacing-s: 8px;/* */
    --spacing-m: 16px;/* */
    --spacing-l: 24px;/* */
    --spacing-xl: 32px;/* */
    --spacing-xxl: 64px;/* */
    --width-container: 1200px;/* */
  }
  *{
    border: 0;/* */
    margin: 0;/* */
    padding: 0;/* */
    box-sizing: border-box;/* */
  }
  html{/* */
    height: 100%;/* */
    font-family: 'Montserrat', sans-serif;/* */
    font-size: 14px;/* */
  }
  body{
    height: 100%;/* */
  }
  .hero-section{
    align-items: flex-start;/* */
    background-color: black;/* */
    margin-left: 260px;/* */
    display: flex;/* */
    min-height: 100%;/* */
    justify-content: center;/* */
    padding: var(--spacing-xxl) var(--spacing-l);/* */
  }
  .card-grid{
    display: grid;/* */
    grid-template-columns: repeat(1, 1fr);/* */
    grid-column-gap: var(--spacing-l);/* */
    grid-row-gap: var(--spacing-l);/* */
    max-width: var(--width-container);/* */
    width: 100%;/* */
  }
  @media(min-width: 540px){/* */
    .card-grid{
      grid-template-columns: repeat(2, 1fr); /* */
    }
  }
  @media(min-width: 960px){/* */
    .card-grid{
      grid-template-columns: repeat(4, 1fr); /* */
    }
  }
  .card{
    list-style: none;/* */
    position: relative;/* */
    margin-left: 10px;/* */
  }
  .card:before{
    content: '';/* */
    display: block;/* */
    padding-bottom: 150%;/* */
    width: 100%;/* */
  }
  .card__background{
    background-size: cover;/*cover ca sert a ajuster parfaitement l'image de fond à l'éllément*/
    background-position: center;/*centre l'image*/
    border-radius: var(--spacing-l);/* arondis les bords*/
    bottom: 0;/* */
    filter: brightness(0.75) saturate(1.2) contrast(0.85);/*floute le fond*/ 
    left: 0;/* */
    position: absolute;/* */
    right: 0;/* */
    top: 0;/* */
    transition: /* */
    filter 200ms linear,/* temps que met l'effet de floue à apparaitre*/
    transform 200ms linear;/* */
  }
  .card-grid:hover > .card:not(:hover) .card__background{/* */
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);/* */
  }
  .card__content{
    left: 20;
    padding: var(--spacing-l);
    position: absolute;
    top: 0; /* position du texte en haut de la carte*/
  }
  .card__category{
    color: var(--text-light);
    font-size: 1rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  .card__heading{/* */
    color: var(--text-lighter);/* */
    font-size: 1.9rem;/* */
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);/* */
    line-height: 1.4;/* */
    word-spacing: 100vw;/* */
  }