@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: #000000;
    font-family: "Titan One", cursive;
}
.heading {
    text-align: center;
    padding: 1rem 0;
    padding-top: 10%;
    font-size: 40px;
    color: yellow;
}
.skills {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 2rem;
    flex-wrap: wrap;
}
.left {
    position: relative;
    top: 0;
    left: 0;
    width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 50%;
}
.right ul .bare {
    height: .4rem;
    position: relative;
    list-style: none;
    border-radius: 10px;
    margin: 3rem 0;
    animation: skills;
    animation-duration: 1s;
}
.right ul .html {
    width: 90%;
    background-color: #e54c21;
}
.right ul .css {
    width: 80%;
    background-color: #00a0e4;
}
.right ul .c {
    width: 70%;
    background-color: yellow;
}
.right ul .javascript {
    width: 80%;
    background-color: #7952b3;
}
.right ul .Nodejs {
    width: 30%;
    background-color: #61dafb;
}
.language {
    position: absolute;
    bottom: .9rem;
    left: 0;
}
.percentage {
    position: absolute;
    bottom: .6rem;
    right: 0;
}
.back-button {/* */
    font-size: xx-large;/* */
    color: #fff;/* */
    position: fixed;/* */
    bottom: 20px; /* */
    left: 20px; /* */
    background:none;
    border-style:none ;/* */
    font-family: "Titan One", cursive;/* */
    font-style: normal;/* */
  }
  